<table style="text-align: left">
	<tr>
		<th>Event</th>
		<td><%= @pointEvent.name %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= @pointEvent.description %></td>
	</tr>
	<tr>
		<th>Points awarding</th>
		<td><%= @pointEvent.points %></td>
	</tr>
	<tr>
		<th>Type</th>
		<td><%= @pointEvent.eventType %></td>
	</tr>
</table>