<ul>
    <% @officers.each do |officer| %>
        <li>
            <%= link_to officer.name, officer_path(officer) %> 
            <td><%= button_to 'Edit', edit_officer_path(officer), method: 'get'%></td>
            <td><%= button_to 'Remove', officer_path(officer), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
        </li>
    <% end %>
</ul>