<h3>Update home page Details</h3>
<%= form_with model: @edithomepage do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :description, placeholder: "description" %>
  <%= form.submit %>
<% end %>