<table class="styled-table">
	<tr>
		<th>Event</th>
		<td><%= @pointEvent.name %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= @pointEvent.description %></td>
	</tr>
	<tr>
		<th>Points awarding</th>
		<td><%= @pointEvent.points %></td>
	</tr>
</table>