<h1><%= @pointEvent.name %></h1>
<h1>Scan this code for points!</h1>

<div class="text-center">
    <%= image_tag @qrCode.as_png(
        bit_depth: 1,
        border_modules: 4,
        color_mode: ChunkyPNG::COLOR_GRAYSCALE,
        color: 'black',
        file: nil,
        fill: 'white',
        module_px_size: 6,
        resize_exactly_to: false,
        resize_gte_to: false,
        size: 500
        ).to_data_url %>
</div>
