<style>
.alert {
	border-radius: 5px;
	padding: 15px;
	background: #d8ecdb;
	color: #295529;
}
</style>

<% flash.each do |type, msg| %>
	<div class="alert">
		<%= msg %>
	</div>
<% end %>

<h1>Engagement: <%= @point_event.name %></h1>
<h1>User: <%= @user.nil? ? "Register first!" : "Hello " + @user.email %></h1>

<%= if !@user.nil?
        link_to "Click to sign up!", sign_up_point_event_path(@point_event), method: :post 
    end
%>