<p id="notice"><%= flash[:notice] %></p>


<%if (!@auth)%>
    <%= render "userRegisterForm", user:@user  %>
<%elsif (@auth.role==1 && @auth.approved==true)%>
    <h1>New Users</h1>
    <%= render "form", user:@user  %>
<%else%>
    <%= render "userRegisterForm", user:@user  %>
<%end%>