// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn {
    background-color: none;
    border-color: none;
    color: none;
}
.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    }
    .small-btn {
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #60a3bc;
        padding: 20px;
        border-radius: 50px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
        font-size: 0.5rem;
        float: left;
    }

.button:hover, .back-button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    background-color: #470000 !important;
}

.styled-table {
    border-collapse: collapse;
    margin: 0px 0;
    font-size: 0.9em;
    // font-family: sans-serif;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    padding: 20px;
    // margin-left: auto;
    // margin-right: auto;
    margin-left: 325px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0269A4;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.header{
    padding-top: 60px;
    display: flex;
    width:100%;
    overflow:hidden;
}
.back-btn{
    width:14%;
    float: left;
    font-size: 0.5rem;
}
.page-title{
    width:100%;
    text-align: center;
}
.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

//////////////
html {
    // background-color: #56baed;
    // background-color: rgba(80,0,0,255);

  }
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  
  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 1000px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }

  /* TABS */

h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #0269A4;
  }

  /* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset], .back-button  {
    // background-color: #56baed;
    // background-color: rgba(42,70,77,255);
    background-color: #660000;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 #f0e6e6;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, .back-button:hover  {
    background-color: #470000;
    // background-color: rgba(42,70,77,255);

    
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active, .back-button:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text], input[type=email], input[type=number], input[type=tel], input[type=checkbox] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=checkbox]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder, input[type=email]:placeholder, input[type=number]:placeholder, input[type=tel]:placeholder, input[type=checkbox]:placeholder {
    color: #cccccc;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }
  
  * {
    box-sizing: border-box;
  }
///////////////////////////////////////// https://codepen.io/avstorm/pen/bPOgRO
// body{
//     min-height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-family: 'Roboto', sans-serif;
// }
// *{
// box-sizing: border-box
// }

.select{
position: relative;
min-width: 200px;
text-align: center;
}
// svg{
//   position: absolute;
//   right: 12px;
//   top: calc(50% - 3px);
//   width: 10px;
//   height: 6px;
//   stroke-width: 2px;
//   stroke: #9098A9;
//   fill: none;
//   stroke-linecap: round;
//   stroke-linejoin: round;
//   pointer-events: none;
// }
select{
  -webkit-appearance: none;
  padding: 15px 10px 15px 10px;
  width: 85%;
  border: 1px solid #E8EAED;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px #9098A9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
  text-align-last: center;

}
// select:required:invalid{
//     color: #5A667F;
// } 
//   option{
//     color: #223254;
//   }
//   option[value=""][disabled]{
//         display: none;
//   }
//   option:focus{
//     outline: none;
//     border-color: #0077FF;
//     box-shadow: 0 0 0 2px rgba(#0077FF,.2);
//   }
//   option:hover + svg{
//     stroke: #0077FF;
//   }
// .sprites{
// position: absolute;
// width: 0;
// height: 0;
// pointer-events: none;
// user-select: none;
// }

.double{
    padding-top: 40px;
    display: flex;
    width:100%;
    overflow:hidden;
    justify-content: center;
}
.label {
    padding: 17px 0px 15px 0px;
    width: 35%;
}

.field{
    padding: 17px 0px 15px 0px;
    width: 25%;
}
///////////////////////
.back-button {
  margin: 5px 20px 5px 0px;
  background-color: #660000 !important;
  color: white !important;
  // color: white; /* blue colors for links too */
  // text-decoration: none; /* no underline */

  // color: #fff !important;
  //   text-transform: uppercase;
  //   text-decoration: none;
  //   background: #60a3bc;
  //   padding: 20px;
  //   border-radius: 50px;
  //   display: inline-block;
  //   border: none;
  //   transition: all 0.4s ease 0s;
}
.back-button:focus{
  outline:0;
  // text-decoration: none;
  // color: inherit;
}

.btn-decor {
  // width: 60%;
  // text-align: right;
  margin-left: 325px;
  padding-left: 0rem;
}
.align-table{
  // position: absolute;
  // // display: block;
  // // text-align: left;
  // // box-align: start;
  // left: 100px;
  float: left;

  // width: 800px;
}

.align-center{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;

}

a:-webkit-any-link { 
  text-decoration:none !important;
 }

 .h2-title{
   margin-left: 60px;;
 }

 .text {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }

