<%= link_to "Back to Events", event_index_path %>

<h1>Delete <%= @event.name %>?</h1>

<%= render "form", event: @event %>

<td><%= link_to "Delete", event_path(@event), method: :delete, data: {confirm: "Are you sure you want to delete \"#{@event.name}\"?\nOnce deleted, the data will be lost forever. Points that students received from this event will also dissappear!"} %></td>
