<%= render "layouts/navbar2", user: @user %>
<div class="header">
<h2 class="active h2-title">Event Details</h2>
</div>

<button class="btn align-center" style="margin-left: 20px;">
<%= link_to "Back to Events", event_index_path, class: "back-button" %>
</button>
<%= render "form", event: @event %>
