  <!-- Footer -->
  <footer class="py-5" >
    <div class="container">
      <p class="m-0 text-center nav-text">Texas A&M University
       &copy;
    <span id="copyright">
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
    </span>
      </p>
    </div>
    <!-- /.container -->
  </footer>